.idea/
__pycache__/
.pytest_cache/
/media
GeoAI/NNGeoPaticipatory/NNGeoPaticipatory6/best_model_or_fix.pt
GeoAI/NNGeoPaticipatory/NNGeoPaticipatory6/best_model.pt
/Coq/Cln/media
*.vo
*.glob
*.aux
Coq/Cln/.Cln_BoolDist.aux
Coq/Cln/.Cln_finite_l1_submultiplicativity.aux
Coq/Cln/.Cln_Full.aux
Coq/Cln/.Cln_Grade.aux
Coq/Cln/Cln_BoolDist.glob
Coq/Cln/Cln_BoolDist.vo
Coq/Cln/Cln_finite_l1_submultiplicativity.vo
Coq/Cln/Cln_Full.glob
Coq/Cln/Cln_Full.vo
Coq/Cln/Cln_Grade.vo
